services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    network_mode: host
    environment:
      WG_URL: ${WG_URL}
      API: ${API}
      TOKEN: ${TOKEN}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - keys:/etc/vpn/keys

volumes:
  keys:
