<!DOCTYPE html>
<html>
    <head>
        <title>VPN Панель</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx-extensions@latest/dist/json-template.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.body.addEventListener('htmx:configRequest', function(evt) {
                    evt.detail.headers['Authorization'] = 'Bearer eyJhbGciOi...';
                });
            });
        </script>
    </head>
<body>

<!--
bg-neutral

-->

<header class="flex h-[60px]">
    <div class="flex w-64 h-full bg-neutral-900 text-white text-3xl font-normal justify-center items-center">Split/Net</div>
    <div class="flex grow h-full bg-neutral-100">
        Info
    </div>
</header>
<main class="flex flex-row h-[calc(100vh-60px)]">
    <nav class="flex flex-col w-64 px-3 bg-neutral-800">
        <button hx-get="http://192.168.0.108/api/sites"
                hx-target="#content"
                hx-swap="innerHTML"
                hx-ext="json-template"
                data-template="#site-template">Sites</button>
        <button hx-get="/partials/users.html" hx-target="#content" hx-swap="innerHTML">Users</button>
    </nav>
    <section id="content" class="grow">
    </section>
</main>


<!-- Templates -->
<!-- Шаблон для json-template -->
<template id="site-template">
    <div class="submenu_title">Sites</div>

    <div class="site_unit">
        <div data-key="name">Name</div>
        <div data-key="description">Description</div>
        <div data-key="subnet">Subnet</div>
    </div>

    <div class="gateway_units">
        <h4 class="text-md pb-3">Gateways</h4>

        <!-- Шапка остаётся статичной -->
        <div class="gateway_unit gateway_unit-title">
            <div>Name</div>
            <div>Extern IP</div>
            <div>Status</div>
        </div>

        <!-- Динамические шлюзы -->
        <div class="gateway_unit" data-each="gateways">
            <div data-key="name"></div>
            <div data-key="ipAddress"></div>
            <div data-key="lastSeen"></div>
        </div>
    </div>
</template>


</body>
</html>