<!DOCTYPE html>
<html>
    <head>
        <title>VPN Панель</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script>
            // Функция для проверки JWT токена
            function checkToken() {
                const token = localStorage.getItem('authToken');
                const authForm = '/login.html';

                // Если токена нет
                if (!token) {
                    window.location.href = authForm;
                    return;
                }

                // Парсим токен
                try {
                    const payload = JSON.parse(atob(token.split('.')[1]));
                    const expirationTime = new Date(payload.exp).getTime();
                    const currentTime = Math.floor(Date.now() / 1000);

                    // Проверяем expiration
                    if (expirationTime < currentTime) {
                        console.log('Token expired');
                        localStorage.removeItem('authToken');
                        window.location.href = authForm;
                        return false;
                    }

                    // Токен валиден, добавляем к запросам
                    document.body.addEventListener('htmx:configRequest', function(evt) {
                        evt.detail.headers['Authorization'] = 'Bearer ' + token;
                    });

                } catch (e) {
                    // Если ошибка парсинга - считаем токен невалидным
                    localStorage.removeItem('authToken');
                    window.location.href = authForm;
                }
            }

            document.addEventListener("DOMContentLoaded", function() {
                checkToken(); // Проверяем при загрузке

                // Периодическая проверка (каждую минуту)
                setInterval(checkToken, 60000);
            });
        </script>
    </head>
<body>

<!--
bg-neutral

-->

<header class="flex h-[60px]">
    <div class="flex w-64 h-full bg-neutral-900 text-white text-3xl font-normal justify-center items-center">Split/Net</div>
    <div class="flex grow h-full bg-neutral-100">
        Info
    </div>
</header>
<main class="flex flex-row h-[calc(100vh-60px)]">
    <nav class="flex flex-col w-64 px-3 bg-neutral-800">
        <button
                hx-get="/api/sites"
                hx-ext="client-side-templates"
                hx-trigger="click"
                hx-target="#content"
                hx-swap="innerHTML"

                mustache-template="sites-list-template">Sites</button>
        <button hx-get="/partials/users.html" hx-target="#content" hx-swap="innerHTML">Users</button>
    </nav>
    <section id="content" class="grow">
    </section>
</main>


<!-- Templates -->
<!-- Список Sites-->
<template id="sites-list-template">
    <div class="shadow-md rounded-sm bg-white px-6 pb-3">
        <div class="py-[20px] text-[#3d3d3d] text-2xl">
            Сайты
        </div>
        <div class="px-2 my-2 w-full text-[14px] text-[#4f4f4f] bg-[#F6F6F6]">
            Сайт
        </div>
        {{#.}}
        <button class="my-3 px-2 border-0 text-[14px] text-[#4805ff] hover:underline hover:cursor-pointer"
                hx-get="/api/sites/{{site_id}}"
                hx-ext="client-side-templates"
                hx-trigger="click"
                hx-target="#content"
                hx-swap="innerHTML"
                mustache-template="site-template"
        >
            {{name}}
        </button>
        {{/.}}
    </div>
</template>


<!-- Шаблон для Site -->
<template id="site-template" type="x-tmpl-mustache">

    {{#.}}
    <div class="shadow-md rounded-sm bg-white px-6 pb-3">
        <div class="">
            <div class="py-[20px] text-2xl text-[#3d3d3d]">Сайт: {{name}}</div>
            <div class="text-[#4f4f4f] text-xs">{{description}}</div>
        </div>
        <br>
        <div class="">
            <div class="flex justify-between mb-4">
                <div class="text-[#3d3d3d] text-2xl">Шлюзы</div>

                <button onclick="deployGateway({{site_id}})"
                        hx-ext="client-side-templates"
                        mustache-template="deploy-gateway"

                        class="flex items-center gap-2 px-3 rounded-sm
                        bg-purple-700 text-white text-sm font-medium
                        hover:bg-purple-800 hover:cursor-pointer transition-colors">
                    <span class="text-lg">+</span> Развернуть шлюз
                </button>
            </div>
            <div class="mb-2 px-2 grid grid-cols-3 gap-[10px] text-[#4f4f4f] bg-[#F6F6F6]">
                <div>Название</div>
                <div>Внешний IP</div>
                <div>Статус</div>
            </div>

            {{#gateways}}
            <div class="px-2 grid grid-cols-3 gap-[10px]">
                <div>{{name}}</div>
                <div>{{wg_url}}</div>
                <div class="flex items-center gap-2">
                    <div class="w-3 h-3 rounded-full animate-pulse-dot {{#active}}bg-green-500{{/active}}{{^active}}bg-red-500{{/active}}"></div>
                    <span class="text-sm">{{#active}}Онлайн{{/active}}{{^active}}Недоступен{{/active}}</span>
                </div>
            </div>
            {{/gateways}}
        </div>
    </div>
    {{/.}}
    </template>

<!-- Шаблон для Deploy Gateway -->
<template id="deploy-gateway" type="x-tmpl-mustache">
    {{#.}}
    <div class="shadow-md rounded-sm bg-white px-6 pb-3">
        <div class="">
            <div class="py-[20px] text-2xl text-[#3d3d3d]">Развернуть шлюз</div>
        </div>
        <br>
        <div class="text-[14px] text-[#4f4f4f] bg-[#F6F6F6]">
            <div class="p-2">
                Token: {{token}}
            </div>
        </div>
    </div>
    {{/.}}
</template>


<script>
    function deployGateway(siteId) {
    const token = localStorage.getItem('authToken');

    htmx.ajax('POST', '/api/gateways', JSON.stringify({
        site_id: siteId
    }), {
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        }
    });
}
</script>

</body>
</html>