<!DOCTYPE html>
<html>
    <head>
        <title>VPN Панель</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
        <script src="https://unpkg.com/mustache@latest"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.body.addEventListener('htmx:configRequest', function(evt) {
                    evt.detail.headers['Authorization'] = 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhNTE2NmMwNi1kYTgzLTQzZGMtYWIxYy1lMTI4ZmIyZDVjYmIiLCJpc3MiOiJzZWxmIiwiaWF0IjoxNzYyOTcwNjE4LCJleHAiOjE3NjMwNTcwMTgsImVtYWlsIjoidGVzdCIsInJvbGVzIjpbIlVTRVIiXX0.lSZ35FaivoHKnVhnYkcwT_lL0HN4MyfC94L2vNjv8Nk';
                });
            });
        </script>
    </head>
<body>

<!--
bg-neutral

-->

<header class="flex h-[60px]">
    <div class="flex w-64 h-full bg-neutral-900 text-white text-3xl font-normal justify-center items-center">Split/Net</div>
    <div class="flex grow h-full bg-neutral-100">
        Info
    </div>
</header>
<main class="flex flex-row h-[calc(100vh-60px)]">
    <nav class="flex flex-col w-64 px-3 bg-neutral-800">
        <button
                hx-get="/api/sites"
                hx-ext="client-side-templates"
                hx-trigger="click"
                hx-target="#content"
                hx-swap="innerHTML"
                mustache-template="site-template">Sites</button>
        <button hx-get="/partials/users.html" hx-target="#content" hx-swap="innerHTML">Users</button>
    </nav>
    <section id="content" class="grow">
    </section>
</main>


<!-- Templates -->
<!-- Шаблон для Sites -->
<template id="site-template" type="x-tmpl-mustache">
    <div class="submenu_title">Sites</div>

    {{#.}}
    <div class="site_unit">
        <div>{{name}}</div>
        <div>{{description}}</div>
        <div>{{subnet}}</div>
    </div>

    <div class="gateway_units">
        <h4 class="text-md pb-3">Gateways</h4>

        <div class="gateway_unit gateway_unit-title">
            <div>Name</div>
            <div>Extern IP</div>
            <div>Status</div>
        </div>

        {{#gateways}}
        <div class="gateway_unit">
            <div>{{name}}</div>
            <div>{{ipAddress}}</div>
            <div>{{active}}</div>
        </div>
        {{/gateways}}
    </div>
    {{/.}}
</template>


</body>
</html>