@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: rgb(196, 196, 196) solid 1px;
    text-align: center;
    margin-top: 10px;
    background: white;

    font-size: 16px;
}

button:hover{
    background: oklch(87% 0 0);
    cursor: pointer;
}

main {
    heigth: calc()
}

#content {
    padding: 0 40px;
    background: #FCFCFC;

}

.submenu_title {
    padding: 20px 0;
    font-size: 28px;
}

.site_unit {
    padding: 20px 10px;
    width: 100%;
    background: white;
    border: 2px solid grey;
    border-radius: 12px 12px 0 0;
}

.gateway_units {
    padding: 20px 10px;
    width: 100%;
    border: 2px solid grey;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.gateway_unit-title {
    padding: 0 0 15px 0;
}

.gateway_unit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}