<link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wdth,wght@75..100,200..900&display=swap" rel="stylesheet">

body {
    font-family: "Source Sans 3 Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: rgb(196, 196, 196) solid 1px;
    text-align: center;
    margin-top: 10px;
    background: white;

    font-size: 16px;
}

button:hover{
    background: oklch(87% 0 0);
    cursor: pointer;
}

main {
    heigth: calc()
}

#content {
    padding: 0 40px;
    background: #f5f3e9;
}

.site_unit {
    padding: 20px 10px;
    width: 100%;
}

.gateway_units {
    padding: 20px 10px;
    width: 100%;
}

.gateway_unit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

@keyframes pulse-dot {
  0%, 100% { transform: scale(0.9); opacity: 0.9; }
  50% { transform: scale(1.2); opacity: 1; }
}
.animate-pulse-dot {
  animation: pulse-dot 1.5s infinite;
}

.text-color-secondary {
    color: #888888;
}