@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline&display=swap');
body {
    font-family: "Stack Sans Headline", sans-serif;
}

button {
    padding: 5px 10px;
    border-radius: 10px;
    border: rgb(196, 196, 196) solid 1px;
    text-align: center;
    margin-top: 10px;
    background: white;

    font-size: 16px;
}

a:hover{
    background: oklch(87% 0 0);
}

main {
    heigth: calc()
}